@media (max-width: 850px) {
  #header-home {
    height: 30rem;
    .header-content {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 660px) {
  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        display: none;
      }

      #main-nav {
        flex-direction: column;
        align-items: center;
        li {
          padding: 1rem;
        }
        a {
          font-size: 1rem;
        }
      }
    }
    &-inner {
      height: 10rem;
      #main-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          padding: 1rem;
        }
        a {
          font-size: 1rem;
        }
      }
    }
  }
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #work-a .items,
  #contact-b .contact-info {
    grid-template-columns: 1fr;
  }
  #home {
    &-a {
      .specials div {
        border-bottom: 1px dotted $main-color;
        padding-bottom: 20px;
        margin-bottom: 10px;
        &:last-child {
          border: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
    &-b {
      .stats div {
        padding: 1.5rem;
      }
    }
  }
  #main-footer {
    height: 7rem;
    .footer-content {
      height: 7rem;
      flex-direction: column;
      padding: 1rem;
    }
  }
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bio-image"
          "bio";
      }
      .bio-image {
        width: 100%;
      }
      .awards {
        grid-template-areas: "award1" "award2" "award3";
      }
    }
    &-c {
      display: none;
    }
  }
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name-section"
          "subject-section"
          "email-section"
          "phone-section"
          "message-section";
      }
    }
    &-b {
      .contact-info div {
        border-bottom: 1px solid #333;
        padding-bottom: 1rem;
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }
}

//Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}
